//Creas un archivo .env en la carpeta raiz del cliente (si existe este archivo no hace falta) luego colocas esta variable de entorno   IP=<aqui va tu ip>  para utilizarla solo ejecuta npm run setup , y en tu pagina import Config from 'react-native-config'  , y para utilizarla Config.IP